#ctl00_centerZone_BriefResume1_CvView1_cvHeader_Breadcrumb1_breadcrumbs {
  display: none;
}
#ctl00_centerZone_BriefResume1_CvView1_cvHeader_plhNotLogged {
  display: none;
}
.rua-p-t_13 rua-g-left {
  display: none;
}
.ga_print .rua-p-c-default .rua-b-none {
  display: none;
}
.rua-p-t_13 .rua-g-left {
  display: none;
}
#ctl00_centerZone_BriefResume1_CvView1_cvHeader_Breadcrumb1_breadcrumbs {
  display: flex;
}
